@model USIL_UG_MP_PROJECT.Models.Ubicacion
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@{
}

<h4>Registrar una nueva ubicación</h4>
<form asp-controller="Ubicacion" asp-action="InsertUbicacion" method="POST">

    <div class="form-Group">
        <label for="formGroupExampleInput">Id ubicacion</label>
        <input asp-for="IdUbicacion" class="form-control" id="formGroupExampleInput" placeholder="ID Ubicacion" autofocus/>
        <span asp-validation-for="IdUbicacion" class="text-danger"></span>
    </div>

    <div class="form-Group">
        <label for="formGroupExampleInput2">Región</label>
        <input asp-for="Region" class="form-control" id="formGroupExampleInput2" placeholder="Región" />
        <span asp-validation-for="Region" class="text-danger"></span>
    </div>

    <div class="form-Group">
        <label for="formGroupExampleInput3">Ciudad</label>
        <input asp-for="Ciudad" class="form-control" id="formGroupExampleInput3" placeholder="Ciudad" />
        <span asp-validation-for="Ciudad" class="text-danger"></span>
    </div>

    <div class="form-Group">
        <label for="formGroupExampleInput4">Dirección</label>
        <input asp-for="Direccion" class="form-control" id="formGroupExampleInput4" placeholder="Dirección" />
        <span asp-validation-for="Direccion" class="text-danger"></span>
    </div>

    <div class="form-Group">
        <button type="submit" class="btn btn-primary" value="btn" name="grabar">Pusheame</button>
    </div>

</form>